<link rel="stylesheet" href="promotion.css">
<div class="advertisement-banner-3">
     <div class="banner-image">
        <img src="assets/images/frontend/footer-top.jpg" alt="Man holding phone">
    </div>
    <div class="banner-content">
        <h2>Sell/Rent/Buy/Lease Properties in Nigeria in few clicks!</h2>
        <p>Wannabe customers are waiting, list your property now.</p>
        <a href="/agent/register" class="btn-post-property">Post Your Property. Absolutely Free ₦₦</a>
        <!-- <a href="#" class="whatsapp-link">Post via <i class="fab fa-whatsapp"></i> <i class="fas fa-arrow-right"></i></a> -->
    </div>
</div>